.homepage_content{
	width: 100%;
	h2{
		font-size: 1.1em;
		text-transform: uppercase;
		text-align: center;
	}

	h3{
		font-size: 1.35em;
		font-weight: 400;
		margin-bottom: .5em;
	}

	a{
		text-decoration: none;
		color: $dark;
		&:hover{
			color: $blue;
		}
	}

	.date{
		font-size: .8em;
		margin-bottom: 1em;
		color: $light;
		text-align: left;
	}

	p{
		margin: 0 0 .75em 0;
	}

	.col-md-4{
		.post-content {
			.date{
				text-align: right;
			}
			width: 100%;
			height: 100%;
			a{
				text-decoration: none;
				color: $white;
				&:hover{
					color: $blue;
				}
			}
    		top:0;
    		left:0;
    		position: absolute;
		}

		#grad {
  			background: -webkit-linear-gradient(rgba(0,0,0,.75), rgba(0,0,0,0)); /* For Safari 5.1 to 6.0 */
  			background: -o-linear-gradient(rgba(0,0,0,.75), rgba(0,0,0,0)); /* For Opera 11.1 to 12.0 */
  			background: -moz-linear-gradient(rgba(0,0,0,.75), rgba(0,0,0,0)); /* For Firefox 3.6 to 15 */
 			background: linear-gradient(rgba(0,0,0,.75), rgba(0,0,0,0)); /* Standard syntax */
		}

		.thumbnail{
    		position:relative;

		}
	}

	.content{
		margin: 1em 0 0 1em;
		float: right;
		.button{
			float: right;
			padding:5px;
  			background-color: $blue;
  			border: 1px solid $cream;
  			color:#000;
  			text-decoration:none;
  			&:hover {
  				background-color:$dark;
  				color: $white;
			}
			-moz-border-radius: 15px;
   			 -webkit-border-radius: 15px;
   			 border-radius: 15px;
		}
	}

	.timeline{
		text-align: center;
		.date{
			text-align: center;
		}
		.hoverinfo {
    		position: relative;
    		// top: 15px;
    		// left: 15px;
    		// font-size: 28px;
    		// color: #ffffff;
    		cursor: pointer;
    		i{
    			&:hover{
					color: $blue;
				}
    		}
    		.fancybox-thumbs {
    			display: none;
    			color: #000000;
			}

			&:hover{
				.fancybox-thumbs{
					background-color: rgba(255, 255, 255, 0.7);
    				display: block;
				}
			}
		}
	}
}


