/*
 *= require_self
 *= require fancybox
 *= require font-awesome
 *= require_tree .
 */
@import 'normalize';
@import 'bootstrap';
@import "font-awesome";

$dark: #424652;
$light: #9a9da4;
$highlight: #8bc6db;
$border: #E9E9E9;
$cream: #e5d8be;
$blue: #8da29b;
$white: #fff;
$gray: #66757F;

*{
	box-sizing: border-box;
}

body{
	font-family: 'Raleway', sans-serif;
}

.wrapper{
	width: 90%;
	margin: 0px auto;
}

.skinny_wrapper{
	width: 80%;
	max-width: 760px;
	margin: 0px auto;
}

.wrapper_padding{
	padding: 4rem 0;
}

.clearfix:before,
.clearfix:after{
	content: " ";
	display: table;
}

.clearfix:after{
	clear: both;
}

.notice, .alert{
	text-align: center;
	padding: 1em 0;
	border-bottom: 1px solid $dark;
}

h1,h2,h3,h4,h5,h6,p,ul,li{
	color: $dark;
}

hr{
		width: 3em;
		display: block;
		height: 2px;
		border: 0;
		border-top: 2px solid $blue;
		margin: 2rem auto;
}

h1{
	font-size: 2.5rem;
}

h2{
	font-size: 2rem;
}

h3{
	font-size: 1.75rem;
}

h4{
	font-size: 1.375rem;
}

h5{
	font-size: 1.25rem;
}

h6{
	font-size: 1rem;
}

p,li{
	font-size: 1.1rem;
	line-height: 1.75;
}

p,ul,ol{
	margin: 0 0 1.6em 0;
}

#main_navigation {
	padding: 2.5em 5%;
	border-bottom: 1px solid $blue;
	background-color: $dark;
	.name{
		background-color: $blue;
		font-weight: 700;
		font-size: .85em;
		letter-spacing: 4px;
		text-transform: uppercase;
		border: 2px solid $cream;
		padding: 1rem;
		text-decoration: none;
		color: $white;
		float: left;
	}

	nav#icons{
		float: left;
		i{
			color: $white;
			margin-left: 1em;
			padding-top: .2em;
			&:hover{
				color: $blue;

			}
		}
	
	}

	nav{
		float: right;
		padding-top: 1.4rem;
		a{
			color: $white;
			text-decoration: none;
			margin: 0 1rem;
			font-size: 1em;
			// &:hover{
			// 	color: $blue;
			// }
		}
		a:hover,a:active{
				color: $blue;
			}
	}
}

#page_title{
	font-weight: 700;
	text-align: center;
	border-bottom: 1px solid $blue;
	padding: 3em 0;
	font-size: 2rem;
	text-transform: uppercase;
}

a.creator{
	color: $highlight;
	text-decoration: none;
	font-size: 1.2rem;
	margin: 0;
	padding: .5rem;
	&:hover{
		color: $dark;
	}
}

a.league{
	color: $highlight;
	text-decoration: none;
	font-size: 1.2rem;
	margin: 0;
	padding: .5rem;
	float: right;
	&:hover{
		color: $dark;
	}
}

#main_footer{
	padding: 2.5em 5%;
	border-top: 1px solid $border;
	.copyright{
		float: left;
		font-size: .9em;
		margin: 0;
	}
}

@import 'welcome';
@import 'articles';